# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#IDE
.idea/
.DS_Store

#SOFA
SOFA/build
SOFA/sofa.egg-info
SOFA/dist

#Megatron
megatron/fused_kernels/build/

*.ipynb
*.pth
*.pt
*.tar
*.out
*.log
*.txt
tensorboard/
save_model/

debug/
language_evaluation
evalcap
.ipynb_checkpoints

core-*
.nfs*
